/* ====================================
    ======= 1205 ======    
==================================== */
@media screen and (max-width:1205px) {
    .section_six_box_thr_top, .section_six_box_thr_bottom {
        width: 97%;
    }
}
/* ====================================
    ======= 1205 ======    
==================================== */

/* ====================================
    ======= 1200 ======    
==================================== */
@media screen and (max-width:1200px) {
    label {
        padding: 2.5% 3%;
    }
}
/* ====================================
    ======= 1200 ======    
==================================== */

/* ====================================
    ======= 1153 ======    
==================================== */
@media screen  and (max-width:1153px) {
    .section_two_right_bottom_text_bottom_right {
        font-size: 1.3rem;
    }
}
/* ====================================
    ======= 1153 ======    
==================================== */

/* ====================================
    ======= 1127 ======    
==================================== */
@media screen and (max-width:1127px) {
    .nav>li>a {
        display: block;
        padding: 15% 16%;
    }
}
/* ====================================
    ======= 1127 ======    
==================================== */

/* ====================================
    ======= 1125 ======    
==================================== */
@media screen and (max-width:1125px) {
    .section_eig_box {
        gap: 6rem;
    }
    .section_six_box_thr_top, .section_six_box_thr_bottom {
        width: 99%;
    }
}
/* ====================================
    ======= 1125 ======    
==================================== */


/* ====================================
    ======= 1100 ======    
==================================== */
@media screen  and (max-width:1100px) {
    /* ===== header ===== */
    header{
        padding-bottom: 1rem;
    }
    .nav>li>a {
        padding: 15% 15%;
    }
    /* ===== header ===== */
    /* ===== sec1 ===== */
    .section_one{
        height: 34rem;
    }
    .section_one img{
        width: 80%;
    }
    .section_one img:before{
        top: 36%;
        right: 5%;
    }
    .section_one img:after{
        top: 36%;
        left: 5%;
    }
    /* ===== sec1 ===== */
    /* ===== sec2 ===== */
    .section_two{
        height: 37.5rem;
    }
    .section_two_left_icon {
        width: 6rem;
    }
    .section_two_left {
        width: 35%;
        height: 9rem;
    }
    .section_two_right {
        width: 35%;
    }
    .section_two_right_top{
        font-size: 2.4rem;
    }
    .section_two_right_bottom_text {
        width: 32%;
    }
    .section_two_right_bottom_img {
        width: 13%;
    }
    /* ===== sec2 ===== */
    /* ===== sec3 ===== */
    .section_thr_left::after {
        top: 10px;
        left: 16.4rem;
        right: -18px;
    }
    .section_thr_right::after {
        top: 18rem;
        left: 17.8rem;
    }
    .section_thr_right_bottom {
        margin-top: 33rem;
    }
    /* ===== sec3 ===== */
    /* ===== sec8 ===== */
    .section_eig_pannel {
        width: 42%;
        margin-left: 3rem;
    }
    .section_eig_box {
        gap: 6rem;
    }
    label {
        padding: 2.5% 2.5%;
    }
    .section_eig_box_title {
        margin-bottom: 7rem;
    }
    .section_eig_box_list, .section_eig_box_list.w90 {
        padding: 13% 13%;
    }
    .section_six_box_thr_top_subtitle_one, .section_six_box_thr_top_subtitle_two, .section_six_box_thr_top_subtitle_thr, .section_six_box_thr_bottom_subtitle_one, .section_six_box_thr_bottom_subtitle_two, .section_six_box_thr_bottom_subtitle_thr {
        font-size: 1.5rem;
    }
    /* ===== sec8 ===== */
    /* ===== sec4 ===== */
    .section_for > .inner.df {
        column-gap: 0rem;
    }
    .section_for_box {
        margin-left: 2rem;
        margin-right: 2rem;
    }
    /* ===== sec4 ===== */
    /* ===== sec5 ===== */
    .section_fiv {
        padding-top: 6rem;
        padding-left: 0rem;
    }
    .section_fiv_title {
        margin-left: 4rem;
    }
    /* ===== sec5 ===== */
    /* ===== sec6 ===== */
    .section_six_box_one, .section_six_box_two, .section_six_box_thr {
        width: 24%;
        height: 34rem;
    }
    .section_six_box_thr_top_date_one, .section_six_box_thr_top_date_two, .section_six_box_thr_top_date_thr, .section_six_box_thr_bottom_date_one, .section_six_box_thr_bottom_date_two, .section_six_box_thr_bottom_date_thr{
        display:none
    }
    .section_six_box_one_title:before, .section_six_box_two_title:before, .section_six_box_thr_top_title:before, .section_six_box_thr_bottom_title:before {
        right: -1.1rem;
    }
    /* ===== sec6 ===== */
    /* ===== footer ===== */
    .footer_copyright {
        margin-left: 4.6rem;
    }
    .footer_caution {
        margin-left: 4.6rem;
    }
    }
    /* ===== footer ===== */
    /* ====================================
    ======= 1100 ======    
    ==================================== */

    /* ====================================
        ======= 1088 ======    
    ==================================== */
    /* ===== sec8 ===== */
    @media screen and (max-width:1088px) {
        label {
            padding: 2.5% 2.3%;
        }
    }
    /* ===== sec8 ===== */
    /* ====================================
        ======= 1088 ======    
    ==================================== */

/* ====================================
    ======= 1070 ======    
==================================== */
@media screen and (max-width:1070px) {
    /* ===== header ===== */
    .nav>li>a {
        padding: 15% 14%;
    }
    /* ===== header ===== */
    /* ===== sec2 ===== */
    .section_two_right {
        width: 36%;
    }
    /* ===== sec2 ===== */
    /* ===== sec3 ===== */
    .section_thr_left::after {
        top: 44px;
        left: 18.4rem;
        right: 1px;
    }
}
    /* ===== sec3 ===== */
/* ====================================
    ======= 1070 ======    
==================================== */

/* ====================================
    ======= 1062 ======    
==================================== */
@media screen and (max-width:1062px) {
    label {
        font-size: 1.7rem;
    }
}
/* ====================================
    ======= 1062 ======    
==================================== */

/* ====================================
    ======= 1045 ======    
==================================== */
@media screen and (max-width:1045px) {
    ul.section_eig_box_one_list li, ul.section_eig_box_list li {
        font-size: 1.8rem;
    }
}
/* ====================================
    ======= 1045 ======    
==================================== */

/* ====================================
    ======= 1034 ======    
==================================== */
@media screen and (max-width:1034px){
    .text {
        font-size: 1.5rem;
    }
}
/* ====================================
    ======= 1034 ======    
==================================== */

/* ====================================
    ======= 1026 ======    
==================================== */
@media screen and (max-width:1026px) {
    .section_thr_left_bottom {
        margin-top: 6.5rem;
    }
}
/* ====================================
    ======= 1026 ======    
==================================== */
/* ====================================
    ======= 1023 ======    
==================================== */
@media screen and (max-width: 1023px){
label {
    padding: 2.5% 2.1%;
}
}
/* ====================================
    ======= 1023 ======    
==================================== */


/* ====================================
    ======= 1000 ======    
==================================== */
/* ===== header ===== */
@media screen and (max-width:1000px) {
.header_logo {
    margin-left: 4.5rem;
    width: 35%;
}
.logo_text_top {
    font-size: 3rem;
}
.logo_text_bottom {
    font-size: 1rem;
}
.nav {
    width: 50%;
    justify-content: flex-end;
    column-gap: 1rem;
}
.nav>li {
    flex: 1 1 calc(100% / 6);
}
.nav>li>a {
    padding: 18% 0;
}
.text {
    font-size: 1.3rem;
}
.dep1 {
    width: 190%;
}
.dep1_2 {
    width: 275%;
}
ul.dep1.dep1_3.nav_thr{
    width: 448%;
}
.dep1_4{
    width: 300%;
}
.dep1_5{
    width: 300%;
}
ul.dep1.dep1_6.nav_six{
    width: 318%;
}
/* ===== header ===== */
/* ===== sec1 ===== */
.section_one::after {
    left: 5%;
}
.section_one::before{
    right: 5%;
}
/* ===== sec1 ===== */
/* ===== sec2 ===== */
.section_two {
    height: 33.5rem;
}
.section_two>.inner.df {
    justify-content: center;
}
.section_two_left {
    height: 7rem;
    width: 36%;
}
.section_two_left_icon {
    width: 5rem;
}
.section_two_right {
    width: 40%;
}
.section_two_right_top{
font-size: 2.3rem;
}
.section_two_right_bottom.df {
    margin-top: 3rem;
}
.section_two_right_bottom_text {
    width: 34%;
}
/* ===== sec2 ===== */
/* ===== sec3 ===== */
.section_thr {
    height: 44.5rem;
}
.section_thr .inner{
    width: 90%;
}
.bold {
    font-size: 3rem;
}
.section_thr_left_title, .section_thr_right_title {
    font-size: 2.4rem;
}
.section_thr_left_top {
    font-size: 1.4rem;
    margin-top: 8rem;
    margin-left: 2rem;
}
.section_thr_left::after {
    top: 67px;
    left: 16.4rem;
    right: 9px;
}
.section_thr_left_bottom a {
    font-size: 1.6rem;
    margin-left: 4rem;
}
.section_two_right_bottom_img {
    max-width: 6rem;
}
.section_thr_left_bottom p a::before {
    left: 3rem;
}
.section_thr_right_bottom {
    margin-top: 28rem;
    margin-left: 0rem;
}
.section_thr_right_sns {
    left: 0rem;
}
.section_thr_right::after {
    top: 16rem;
    left: 13.8rem;
    width: 8rem;
}
/* ===== sec3 ===== */
/* ===== sec8 ===== */
.section_eig {
    width: 100%;
    height: 37.5rem;
}
.section_eig_title, .section_eig_box_title{
    font-size: 2.4rem;
}
.section_eig_pannel {
    width: 37%;
    margin-left: 8rem;
}
.panels{
    min-height: 14rem;
    box-shadow: 3px 20px 17px 0px rgba( 31, 38, 135, 0.37 );
}
label {
    font-size: 1.3rem;
    padding: 1.5% 1%;
}
.section_eig_box_list, .section_eig_box_list.w90 {
    padding: 7% 10%;
}
.section_eig_box_one_list li, .section_eig_box_list li{
font-size: 1.6rem;
}
.panel a.section_eig_panel_none{
    display: none;
}
.section_eig_panel_none{
    display: none;
}
.panel_line:before{
    display: none;
}
/* ===== sec8 ===== */
/* ===== sec5 ===== */
.section_fiv {
    height: 28rem;
}
.section_fiv_box_set {
    /* width: 17%; */
    height: 15rem;
}
.section_fiv_box_img {
    width: 70%;
}
/* ===== sec5 ===== */
/* ===== sec6 ===== */
.section_six{
    height: 32rem;
}
.section_six_box_one, .section_six_box_two{
    display: none;
}
.section_six_box_thr{
    width: 77%;
    display: flex;
    justify-content: space-evenly;
    column-gap: 5rem;
}
.section_six_box_thr_top, .section_six_box_thr_bottom {
    width: 113%;
    height: 46%;
}
/* ===== sec6 ===== */
/* ===== sec7 ===== */
.section_sev {
    height: 30rem;
}
.section_sev_box{
    margin-left: 0;
}
.section_sev_box_one, .section_sev_box_two, .section_sev_box_thr {
    padding: 1.5rem 1.3rem;
}
/* ===== sec7 ===== */
/* ====================================
    ======= footer ======    
==================================== */
.footer_link{
    flex-wrap: wrap;
}
.footer_link_sev{
    display: none;
}
.footer_address{
    margin-left: -20rem;
}
.footer_copyright{
    margin-left: 7.6rem;
}
}
/* ====================================
    ======= footer ======    
==================================== */
/* ====================================
    ======= 1000 ======    
==================================== */

/* ====================================
    ======= 987 ======    
==================================== */
@media screen and (max-width:987px) {
    .text {
        font-size: 1.4rem;
    }
    .nav {
        width: 56%;
}
}
/* ====================================
    ======= 987 ======    
==================================== */

/* ====================================
    ======= 949 ======    
==================================== */
@media screen and (max-width:949px) {
    ul.section_eig_box_one_list li, ul.section_eig_box_list li {
        font-size: 1.6rem;
    }
    .section_eig_box_list, .section_eig_box_list.w90 {
        padding: 7% 7%;
    }
}
/* ====================================
    ======= 949 ======    
==================================== */

/* ====================================
    ======= 940 ======    
==================================== */
@media screen and (max-width:940px) {
    .nav {
        width: 59%;
    }
}
/* ====================================
    ======= 940 ======    
==================================== */

/* ====================================
    ======= 920 ======    
==================================== */
@media screen and (max-width:920px){
    .section_eig_pannel {
        width: 37%;
        margin-left: 4rem;
    }
}
/* ====================================
    ======= 920 ======    
==================================== */

/* ====================================
    ======= 900 ======    
==================================== */
@media screen and (max-width:900px) {
    /* ===== header ===== */
    header {
        height: 14rem;
    }
    .header_logo {
        width: 100%;
        margin-left: 0;
    }
    ul.nav{
        display: none;
    } 
    .w900icon{
        display: inline-block;
        width: 2.5rem;
        cursor: pointer;
    }
    .header_logo{
        justify-content: center;
    }
    .header_logo>img.logo_img{
        padding-left: 17rem;
        width: 4.7rem;
    }
    .logo_text{
        padding-right: 17rem;
    }
    /* ===== header ===== */
    /* ===== sec1 ===== */
    .section_one {
        height: 32.5rem;
    }
    .section_one_banner {
        box-shadow: 1.5rem 1.3rem 4rem 4px rgba(0, 0, 0, 26%);
    }
    .section_one img {
        width: 75%;
    }
    .section_one::before {
        top: 38%;
        right: 7%;
    }
    .section_one::after {
        top: 38%;
        right: 7%;
    }
    /* ===== sec1 ===== */
    /* ===== sec2 ===== */
    .section_two {
        height: 47.5rem;
        padding-top: 3rem;
    }
    .section_two > .inner{
        display: block;
    }
    .section_two_left, .section_two_right{
        margin: auto;
        padding-top: 2rem;
        display: flex;
        justify-content: space-evenly;
        column-gap: 7rem;
    }
    .section_two_left{
        width: 50%;
        padding-top: 4rem;
    }
    .section_two_right{
        width: 70%;
        margin-top: 5.5rem;
    }
    .section_two_right_top{
        text-align: left;
        width: 65%;
    }
    .section_two_right_bottom.df{
        width: 35%;
        margin-top: 0;
    }
    .section_two_right_bottom_img {
        width: 20%;
    }
    .section_two_right_bottom_text{
        width: 50%;
    }
    .section_two_right_bottom_text_bottom_left{
        font-size: 3.5rem;
    }
    /* ===== sec2 ===== */
    /* ===== sec3 ===== */
    .section_thr {
        height: 40.5rem;
    }
    .section_thr_left::before {
        right: 8px;
    }
    .section_thr_right::before {
        right: 8px;
    }
    .section_thr_left::after {
        top: 77px;
        left: 16.4rem;
        right: -17px;
    }
    .section_thr_left_bottom {
        margin-top: 3.5rem;
    }
    .section_thr_right::after {
        width: 8rem;
        top: 16rem;
        left: 13.3rem;
    }
    .section_thr_right_bottom {
        margin-top: 26rem;
    }
    .section_thr_right_sns {
        left: 0.3rem;
    }
    div.section_two_right {
        width: 75%;
    }
    /* ===== sec3 ===== */
    /* ===== sec8 ===== */
    .section_eig{
        height: 84rem;
    }
    .section_eig>.inner{
        display: block;
    }
    .section_eig_pannel{
        width: 85%;
        margin-left: 11rem;
    }
    .tabs{
        margin-bottom: 5rem;
    }
    label {
        font-size: 1.6rem;
        padding: 1.5% 6%;
    }
    .panel a.section_eig_panel_none {
        display: block;
    }
    .section_eig_panel_none{
        display: block;
    }
    .panels{
        height: 26rem;
        box-shadow: -3px 9px 17px 0px rgba( 31, 38, 135, 0.37 );
    }
    .panel{
        width: 100%;
    }
    .section_eig_box{
        margin: auto;
        width: 59%;
        gap: 10rem;
        /* display: none; */
    }
    .section_eig_box_title{
        margin-top: 7rem;
        margin-bottom: 5rem;
    }
    .section_eig_box_list, .section_eig_box_list.w90 {
        padding: 14% 18%;
    }
    .section_eig_box_one_list li, .section_eig_box_list li {
        font-size: 1.8rem;
        padding-left: 13%;
    }
    /* ===== sec8 ===== */
    /* ===== sec7 ===== */
    .section_sev_title.h5{
        margin-left: 6rem;
    }
    .section_sev_box_one, .section_sev_box_two, .section_sev_box_thr {
        width: 20rem;
        height: 13rem;
    }
    .section_sev_box_title {
        font-size: 1.8rem;
        margin-bottom: 4rem;
    }
    .section_sev_box_text {
        margin-bottom: 1.5rem;
    }
    .section_sev_img_one:before {
        opacity: .4;
    }
    .section_sev_img_two:before {
        opacity: .4;
    }
    .section_sev_img_thr:before {
        opacity: .4;
    }
    
    .detail_one:before, .detail_one:after, .detail_two:before, .detail_two:after, .detail_thr:before, .detail_thr:after {
        right: 13.2rem;
    }
    /* ===== sec7 ===== */
    /* ===== footer ===== */
    .footer_copyright {
        margin-left: 3rem;
    }
    .footer_caution {
        margin-left: 3rem;
    }
    /* ===== footer ===== */
    /* ===== site map_w900 ===== */
    .contentmap:before {
        width: 18%;
        height: 29%;
        background-size: contain;
        top: 3rem;
        right: 6rem;
    }
    .contentmap_one, .contentmap_two, .contentmap_thr, .contentmap_for, .contentmap_fiv, .contentmap_six{
        display: block;
        border: 1px solid var(--primary1);
        padding: 2% 0 0 2%;
    }
    .contentmap_title{
        border: 0;
        font-size: 2.4rem;
    }
    .contentmap_right{
        margin-top: 3rem;
        margin-bottom: 5rem;
    }
    .contentmap_box{
        display: block;
        border: 0;
    }
    .contentmap_subtitle_box{
        height: 5rem;
        width: 100%;
    }
    .contentmap_subtitle{
        font-size: 2rem;
        padding: 1% 2%;
        border: 0;
    }
    .contentmap_text_box{
        flex-wrap: wrap;
        margin-left: 2rem;
        margin-bottom: 3rem;
        line-height: 1.8;
        font-size: 1.8rem;
        width: 90%;
    }
    .contentmap_text{
        font-size: 1.8rem;
    }
    .resdb{
        display: block;
    }
    .resdib{
        display: inline-block;
    }
    .resdi{
        display: inline;
    }
    /* ===== site map_w900 ===== */
}
/* ====================================
    ======= 900 ======    
==================================== */

/* ====================================
    ======= 890 ======    
==================================== */
@media screen and (max-width:890px){
    .footer_link a {
        font-size: 1.5rem;
    }
    .section_eig_pannel {
        margin-left: 7rem;
    }
}
/* ====================================
    ======= 890 ======    
==================================== */

/* ====================================
    ======= 890 ======    
==================================== */
@media screen and (max-width:883px){
    .text_six_for{
        display: block;
    }
}
/* ====================================
    ======= 890 ======    
==================================== */

/* ====================================
    ======= 845 ======    
==================================== */
@media screen and (max-width:845px){
    .footer_box_one, .footer_box_two, .footer_box_thr, .footer_box_for {
        width: 18rem;
    }
    .footer_link a {
        font-size: 1.4rem;
    }
}
/* ====================================
    ======= 845 ======    
==================================== */

/* ====================================
    ======= 805 ======    
==================================== */
@media screen and (max-width:805px){
    div.section_two_right {
        width: 80%;
    }
}
/* ====================================
    ======= 805 ======    
==================================== */

/* ====================================
    ======= 800 ======    
==================================== */
@media screen and (max-width:800px) {
    /* ===== sec1 ===== */
    .section_one {
        height: 30.5rem;
    }
    /* ===== sec1 ===== */
    /* ===== sec2 ===== */
    .section_two_left {
        width: 65%;
    }
    .section_two_right {
        width: 79%;
    }
    /* ===== sec2 ===== */
    /* ===== sec3 ===== */
    .section_thr .inner {
        width: 95%;
    }
    .section_thr_left_title, .section_thr_right_title {
        margin-left: 2rem;
    }
    .section_thr_left::after {
        top: 83px;
    }
    .section_thr_left_bottom {
        margin-top: 2.5rem;
    }
    .section_thr_right_bottom {
        margin-top: 25rem;
    }
    /* ===== sec3 ===== */
    /* ===== sec8 ===== */
    .section_eig_pannel {
        margin-left: 6rem;
    }
    label {
        padding: 1.5% 5.5%;
    }
    .section_eig_box {
        width: 80%;
        gap: 17rem;
    }
    .section_eig_box_list, .section_eig_box_list.w90 {
        padding: 10% 30%;
    }
    /* ===== sec8 ===== */
    /* ===== sec4 ===== */
    .section_for {
        height: 27rem;
        width: 99%;
    }
    .section_for > .inner.df {
        padding: 4.5rem 1px;
    }
    div.section_for_for > a {
        right: 20%;
    }
    .section_for_box > a {
        right: 14%;
    }
    /* ===== sec4 ===== */
    /* ===== sec5 ===== */
    .section_fiv_box.df {
        column-gap: 5.5rem;
    }
    div.section_fiv_box_set {
        width: 17%;
        height: 14rem;
    }
    /* ===== sec5 ===== */
    /* ===== sec6 ===== */
    .section_six_box_thr {
        width: 90%;
        margin-right: 0;
    }
    /* ===== sec6 ===== */
    /* ===== sec7 ===== */
    .section_sev_title.h5 {
        font-size: 2.4rem;
    }
    .section_sev_img_one:before {
        bottom: -6rem;
    }
    .section_sev_img_two:before {
        bottom: -7.5rem;
    }
    .section_sev_img_thr:before {
        bottom: -7rem;
    }
    /* ===== sec7 ===== */
    /* ===== footer ===== */
    .footer_link>div.pr:before{
        display: none;
    }
    .footer_link {
        flex-wrap: nowrap;
    }
    .w800_none{
        display: none;
    }
    .footer_address {
        margin-left: -1.5rem;
    }
    .footer_copyright {
        margin-left: 7rem;
    }
    .footer_box_one, .footer_box_two, .footer_box_thr, .footer_box_for {
        width: 17rem;
        margin-top: 3rem;
    }
    /* ===== footer ===== */
}
/* ====================================
    ======= 800 ======    
==================================== */

/* ====================================
    ======= 790 ======    
==================================== */
@media screen and (max-width:790px){
    .section_thr_right_bottom {
        font-size: 1.6rem;
    }
}
/* ====================================
    ======= 790 ======    
==================================== */

/* ====================================
    ======= 764 ======    
==================================== */
@media screen and (max-width:764px){
    div.section_two_right {
        width: 86%;
    }
    .section_thr_left_bottom {
        margin-top: 4.5rem;
    }
    .section_for_one > a, .section_for_two > a, .section_for_thr > a, .section_for_for > a{
        font-size: 1.8rem;
    }
}
/* ====================================
    ======= 764 ======    
==================================== */

/* ====================================
    ======= 715 ======    
==================================== */
@media screen and (max-width:715px){
    .section_eig_box_list, .section_eig_box_list.w90 {
        padding: 10% 21%;
    }
    label {
        padding: 1.5% 5%;
    }
    .section_thr_right::after {
        width: 7rem;
        top: 14rem;
        left: 10.3rem;
    }
}
/* ====================================
    ======= 715 ======    
==================================== */

/* ====================================
    ======= 660 ======    
==================================== */
@media screen and (max-width:660px){
    label {
        padding: 1.5% 4.5%;
    }
}
/* ====================================
    ======= 660 ======    
==================================== */

/* ====================================
    ======= 650 ======    
==================================== */
@media screen and (max-width:650px) {
        html{
        font-size: 50%;
    }
    /* ===== header ===== */
    header {
        height: 10rem;
    }
    /* ===== header ===== */
    /* ===== sec1 ===== */
    .section_one {
        height: 25.5rem;
    }
    .section_one img {
        width: 75%;
    }
    .header_logo>img.logo_img {
        padding-left: 10rem;
    }
    .logo_text {
        padding-right: 12rem;
    }
    .section_one::after {
        top: 43%;
    }
    .section_one::before {
        top: 43%;
    }
    /* ===== sec1 ===== */
    /* ===== sec2 ===== */
    .section_two_left_icon {
        width: 5rem;
        margin-bottom: 2rem;
    }
    .section_two_left_icon[alt="민원 포털"] {
        margin-bottom: 2.8rem;
    }
    .section_two_right {
        width: 90%;
    }
    .section_two_right_top {
        font-size: 2.4rem;
    }
    .section_two_right_bottom_img {
        width: 20%;
    }
    .section_two_right_bottom.df {
        width: 45%;
    }
    .section_two_left_text>a {
        font-weight: 700;
    }
    /* ===== sec2 ===== */
    /* ===== sec3 ===== */
    .section_thr_left, .section_thr_right {
        width: 90%;
        height: 40rem;
    }
    .section_thr_right{
        padding-top: 3rem;
    }
    .section_thr_left_top {
        font-size: 1.8rem;
        margin-left: 12rem;
        top: 4.5rem;
    }
    .section_thr_left_bottom {
        margin-top: 9.5rem;
    }
    .section_thr_left_bottom a {
        font-size: 2rem;
    }
    .section_thr_left_bottom p {
        margin-bottom: 2rem;
        margin-left: 9rem;
    }
    .section_thr_left::after {
        top: 122px;
        right: -4px;
    }
    .section_thr_right::after {
        width: 7rem;
        top: 14rem;
        left: 9.3rem;
    }
    .section_thr_right_bottom {
        margin-top: 22rem;
        font-size: 1.6rem;
    }
    /* ===== sec3 ===== */
    .section_thr > .inner{
        flex-direction: column;
    }
    .section_thr_left::before{
        right: 22px;
        top: 8rem;
        bottom: 0;
        left: 7rem;
    }
    .section_thr_left::after {
        top: 122px;
        right: 0px;
        left: 43.4rem;
    }
    div.section_thr_left_title{
        display: block;
    }
    .section_thr_right_title {
        padding-top: 2rem;
    }
    .section_thr_right:before{
        right: 27px;
        top: 12rem;
        bottom: 0;
        left: 7rem;
    }
    .section_thr_right::after {
        width: 12rem;
        top: 24rem;
        left: 30.3rem;
    }
    .section_thr_right_bottom {
        margin-top: 38rem;
        margin-left: 8rem;
        font-size: 2.4rem;
    }
    .sns::before {
        width: 23rem;
        top: -1rem;
        bottom: 0;
        left: 8rem;
        right: 0;
    }
    .section_thr_right_sns {
        left: 8.3rem;
        width: 32rem;
    }
    /* ===== sec8 ===== */
    .section_eig {
        height: 84rem;
        padding-top: 61rem;
    }
    /* ===== sec8 ===== */
}
/* ====================================
    ======= 650 ======    
==================================== */

/* ====================================
    ======= 630 ======    
==================================== */
@media screen and (max-width:630px){
    .section_two_right_top {
        font-size: 2.2rem;
    }
}
/* ====================================
    ======= 630 ======    
==================================== */

/* ====================================
    ======= 600 ======    
==================================== */
@media screen and (max-width:600px){
    .section_two {
        height: 42.5rem;
        padding-top: 3rem;
    }
    .section_thr_left::after {
        top: 67px;
        right: 0px;
        left: 33.4rem;
    }
    .section_sev {
        height: 70rem;
    }
    .section_sev_box {
        flex-direction: column;
        align-items: center;
        row-gap: 3rem;
    }
    .section_sev_box_one, .section_sev_box_two, .section_sev_box_thr {
        width: 90%;
        height: 15rem;
    }
    .section_sev_box_title {
        font-size: 2.4rem;
    }
    .section_sev_box_text {
        font-size: 1.8rem;
    }
    .section_sev_img_one:before{
        bottom: -10rem;
        width: 14rem;
        height: 12rem;
    }
    .section_sev_img_two:before {
        bottom: -9.5rem;
        width: 12rem;
        height: 11rem;
    }
    .section_sev_img_thr:before {
        bottom: -11rem;
        width: 12rem;
        height: 12rem;
    }
    .detail_one:before, .detail_one:after, .detail_two:before, .detail_two:after, .detail_thr:before, .detail_thr:after {
        right: 52.2rem;
    }
    .footer_box{
        display: block;
    }
    .footer_box_one, .footer_box_two, .footer_box_thr, .footer_box_for{
        margin: auto;
        width: 95%;
    }
    .footer_list{
        width: 100%;
    }
    .footer_list li {
        width: 100%;
    }
    .footer_address {
        margin-top: 0;
        margin-left: -4.5rem;
        flex-direction: column;
        align-items: center;
        column-gap: 1rem;
        height: 12rem;
        justify-content: space-around;
    }
}
/* ====================================
    ======= 600 ======    
==================================== */

/* ====================================
    ======= 550 ======    
==================================== */
@media screen and (max-width:550px){
    .section_two_right_top {
        font-size: 2rem;
    }
    div.section_two_right {
        width: 88%;
    }
    .section_thr_left::after {
        top: 89px;
    }
    .section_thr_right::after {
        width: 11rem;
        top: 21rem;
        left: 25.3rem;
    }
    .section_eig_box {
        gap: 11rem;
    }
    label {
        padding: 1.5% 4%;
    }
    .section_six_box_thr {
        width: 92%;
        column-gap: 2rem;
        height: 33rem;
    }
    .section_sev_title.h5 {
        font-size: 2.1rem;
    }
    .footer_box_text {
        font-size: 1.2rem;
    }
}
/* ====================================
    ======= 550 ======    
==================================== */

/* ====================================
    ======= 540 ======    
==================================== */
@media screen and (max-width:540px){
    .section_for_one > a, .section_for_two > a, .section_for_thr > a, .section_for_for > a {
        font-size: 1.6rem;
    }
    .section_six_box_thr_top_subtitle_one, .section_six_box_thr_top_subtitle_two, .section_six_box_thr_top_subtitle_thr, .section_six_box_thr_bottom_subtitle_one, .section_six_box_thr_bottom_subtitle_two, .section_six_box_thr_bottom_subtitle_thr {
        font-size: 1.4rem;
    }
}
/* ====================================
    ======= 540 ======    
==================================== */

/* ====================================
    ======= 500 ======    
==================================== */
@media screen and (max-width:500px){
    .section_one::before {
        top: 34%;
        right: 6%;
    }
    .section_one::after {
        top: 34%;
        left: 6%;
    }
    div.section_two_right {
        width: 93%;
        margin-top: 5rem;
    }
    .section_thr_left, .section_thr_right {
        height: 34rem;
    }
    .section_thr_left::after {
        top: 85px;
        left: 31.4rem;
    }
    .section_thr_left_top {
        margin-left: 10rem;
        top: 3.5rem;
    }
    .section_thr_left_bottom {
        margin-top: 7.5rem;
    }
    .section_thr_left_bottom p {
        margin-bottom: 1rem;
        margin-left: 9rem;
    }
    .section_thr_right::after {
        width: 10rem;
        top: 20rem;
        left: 23.3rem;
    }
    .section_thr_right_bottom {
        margin-top: 29rem;
    }
    .section_eig {
        padding-top: 47rem;
    }
    .section_eig_pannel {
        margin-left: 4rem;
    }
    .section_eig_box {
        gap: 8rem;
    }
    .section_eig_box_list, .section_eig_box_list.w90 {
        padding: 10% 15%;
    }
    div.section_fiv_box_set {
        height: 12rem;
    }
    .section_fiv_box_text > a {
        font-weight: 700;
        font-size: 1.4em;
    }
    .section_six {
        padding-top: 0rem;
        height: 29rem;
    }
    .section_six_box_thr {
        width: 96%;
        column-gap: 1rem;
    }
    .section_sev_title.h5 {
        font-size: 2rem;
        margin-left: 3rem;
    }
    .section_sev_box_one, .section_sev_box_two, .section_sev_box_thr {
        width: 51rem;
    }
    .detail_one:before, .detail_one:after, .detail_two:before, .detail_two:after, .detail_thr:before, .detail_thr:after {
        right: 43.2rem;
    }
    .footer_box{
        padding-top: 2rem;
    }
    .footer_box_one, .footer_box_two, .footer_box_thr, .footer_box_for {
        margin-right: 1rem;
        margin-left: 1rem;
    }
    .footer_list_one li, .footer_list_two li, .footer_list_thr li, .footer_list_for li{
        background-color: #f6f6f6;
}
.footer_list_two, .footer_list_thr, .footer_list_for{
    width: 90%;
}
.footer_list_two{
    top: -22.1rem;
}
.footer_list_thr{
    top: -8.8rem;
}
.footer_list_for{
    top: -3.5rem;
}
    footer{
        height: 44rem;
    }
    .footer_address {
        margin-top: 0;
        margin-left: -.5rem;
        align-items: center;
        column-gap: 0rem;
        flex-direction: row;
        height: 6rem;
        font-size: 1.2rem;
    }
    .footer_address_one{
        font-size: 1.4rem;
    }
    .footer_address_two{
        font-size: 1.4rem;
    }
    .footer_copyright{
        margin-left: 1.5rem;
    }
    .footer_box_text {
        font-size: 1.8rem;
    }

    /* ===== sitemap ===== */
    .contentmap:before {
        top: 3rem;
        right: 1rem;
        width: 27%;
        height: 20%;
        background-size: contain;
    }
    .res500_dib{
        display: inline-block;
    }
    .res500_di{
        display: inline;
    }
    .contentmap_subtitle_box{
        border: 0;
    }
    /* ===== sitemap ===== */
}
/* ====================================
    ======= 500 ======    
==================================== */